@import url(http://fonts.googleapis.com/css?family=Quattrocento|Open+Sans:400,300);

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

main {
    margin: 0 auto;
    width: 500px;
}

#title {
    text-align: center;
}
#title h1 {
    font-size: 4em;
    font-weight: 300;
    margin-bottom: 0em;
}
#title h2 {
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 0;
}
#title h2 a {
    color: #000;
    text-decoration: none;
}
#title h2 a:hover {
    color: #333;
}
#title hr {
    width: 100px;
    border: 1px solid grey;
    margin-bottom: 2em;
}

p {
    font-family: 'Quattrocento', serif;
    text-align: justify;
    line-height: 1.5em;
}

#codeblock {
    text-align: center;
    font-family: monospace;
    font-size: 16px;
}
